<div class="row">
  <h1 style="text-align: center">Sign Up</h1>
  <div class="rwd-form">
    <form action="/users/tasks/create" method="post">
       
       <div class="form-group">
        <label for="Description">Description</label>
        <input class="form-control" type="text" name="description" autocomplete="off" required />
      </div>

       <div class="form-group">
        <label for="completed">Completed</label>
        <input class="form-control" type="text" name="completed" autocomplete="off" required />
      </div>
       <div class="form-group">
        <button class="btn btn-md btn-primary btn-block">Create</button>
      </div>
      <a href="/users/login"></a>
    </form>
  </div>
</div>