<div class="row">
  <h1 style="text-align: center">Sign Up</h1>
  <div class="rwd-form">
    <form action="/users/update" method="post">
    <div class="form-group">
        <label for="name"> Name</label>
        <input class="form-control" type="text" name="name" autocomplete="off" required />
        </div>
       <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" type="text" name="age" autocomplete="off" required />
      </div>

       <div class="form-group">
        <label for="username">Email</label>
        <input class="form-control" type="email" name="email" autocomplete="off" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" autocomplete="off" required />
      </div>
      <div class="form-group">
        <button class="btn btn-md btn-primary btn-block">Update User</button>
      </div>
    </form>
  </div>
</div>