<html>
      <body>
          <h2>
              {{name}}
          </h2>
             <h2>
              {{age}}
          </h2>
             <h2>
              {{email}}
          </h2>
      </body> 
     <form action="/users/logout" method="post">
       <button>Logout</button>
     </form>
     <form action="/users/logoutAll" method="post">
       <button>Logout All</button>
     </form>
   <a href="/users/tasks/create">Create Task</a>   
      <a href="/users/tasks">Task</a>   
        <a href="/users/update">Update Profile</a>
          <a href="/users/delete">Delete Account</a>      

</html>